.storeBox {
  width: 80%;
  height: 30%;
  margin: 100px auto;
  text-align: center;
  display: grid;
  place-items: center;
  border: 1px solid black;
  border-radius: 20px;
  padding: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  transition: transform 0.3s ease;
}

.storeBox a:hover  {
  transform: scale(1.1);
}