.headerBox {
  width: 1600px;
  height: 200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
  
}

.headerTop {
  display: grid;
  place-items: center;
  grid-template-columns: 2fr 4fr 1fr 1fr;
}

.headerTop a {
  color: black;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.headerTop a:hover {
  transform: scale(1.1);
}

#headerTitle {
    font-size: 30px;
    font-weight: bold;
    color: blue;
}

.headerSearchForm {
  display: flex;
  flex-direction: row;
}

.headerSearchBox {
  width: 300px;
  height: 40px;
}

#searchBtn {
  background-image: url('C:\Users\think\git\bleuauction_fe\public\search.png');
  background-size: cover;
  background-repeat: no-repeat;
  /* padding-top: 40px; */
  /* 콘텐츠의 높이를 말한다.*/
  height: 40px;
  width: 40px;
  /* overflow: hidden; */
}


.headerBottom {
  width: 1000px;
  margin: 0 auto;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}

.headerBottom a {
  color: black;
  font-size: 30px;
  font-weight: 500;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.headerBottom a:hover {
  transform: scale(1.1);
}