.storeListItemBox {
  /* background-color: yellow; */
  width: 700px;
  height: 330px;
  margin: 0 auto;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  padding: 15px 0;
  border: 1px solid #000;
  border-radius: 15px;

}

.storeListItemBoss {
  border-radius: 15px;
  width: 300px;
  position: relative;
  left: -2%;
}

.storeListItemDetailTop {
  /* background-color: green; */
  width: 100%;
  height: 60%;
  /* margin-top: 10%; */
}




.storeListItemHeader {
  display: inline-block;
  /* grid-template-columns: 1fr 1fr; */
  width: 100%;

}

.storeListItemDetailName {
  font-size: 30px;
  font-weight: 900;
  position: relative;
  left: -20%;
}

.storeListItemDetailMarket {
  position: relative;
  font-size: 20px;
  color: #3b3b3b;
  position: relative;
  left: -5%;
}

.storeListItemDetailIntroduce {
  min-height: 20%;
  width: 80%;
  text-align: left;
  position: relative;
  left: 8%;
  margin-top: 5%;
}


.storeListItemBoxReview {
  font-size: 25px;
  font-weight: 900;
  position: relative;
  left: -15%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.storeListItemBoxState {
  font-size: 25px;
  font-weight: 900;
  position: relative;
  left: -20%;
  margin-bottom: 0;
}

.storeListItemDetailBoxMore a {
  color: black;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  /* transform: scale(1); */
  transition: transform 0.3s ease;
  position: relative;
  left: 35%;
}

.storeListItemDetailBoxMore a:hover {
  transform: scale(1.1);
}

.storeListItemFresh {
  /* border-radius: 15px; */
  width: 10%;
  margin: 0 5%;
  position: relative;
  /* top: -7%; */
  transform: rotate(45deg);
}

.storeListItemStateIcon {
  border-radius: 15px;
  width: 9%;
  margin: 0 3% 3% 3%;
  position: relative;
  bottom: 7%;
}