/* styles.css .custom-cell {
  font-size: 20px;
}


.daily-box {
  width: 100%;
  margin: 50px auto;
}

.filter-buttons,
.origin-buttons {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  width: 80%;
}

.filter-buttons button,
.origin-buttons button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
}

.filter-buttons button.selected,
.origin-buttons button.selected {
  background-color: #0056b3;
}


.carousel {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}


.price-list table {
  width: 100%;
  border-collapse: collapse;
}

.price-list table th,
.price-list table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.price-list table th {
  background-color: #0056b3;
}

.price-list table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.price-list table tr:hover {
  background-color: #cce6ff;
}


.carousel .slide {
  background-color: #333;
  padding: 20px;
  text-align: center;
}

.carousel .legend {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

*/

.ba-price-list-div {}


.controlsQuickFilter {
  margin: 0;
  padding: 0;
}

.selectColumn {
  color: gray;
}

#filterField {
  margin-top: 20px;
  padding: 2px 5px;
}

.customFilterButtonExample1 .changeType {
  background: #e2e2e2;
  border-radius: 100%;
  width: 16px;
  color: #0075ff;
  height: 16px;
  padding: 3px 2px;
  border: none;
}

.customFilterButtonExample1 .changeType::before {
  content: '▼ ';
  zoom: 0.9;
}

