.headerBox {
  width: 1920px;
  height: 200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
  position: fixed;
  top:0;

  z-index: 9999; 
  background-color: white;
  /* border-bottom: 1px solid black; */
}

.hidden_block {
  width:auto;
  height: 300px;
}

.headerTop {
  display: grid;
  place-items: center;
  grid-template-columns: 2fr 4fr 1fr 1fr;
}

.headerTop img {
  width: 20%;
  margin-left: 3%;
  margin-bottom: 2%;;
}

.headerTop a {
  color: black;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.headerTop a:hover {
  transform: scale(1.1);
}

#headerTitle {
    font-size: 30px;
    font-weight: bold;
    color: blue;
}

.headerSearchForm {
  display: flex;
  flex-direction: row;
}

.headerSearchBox {
  width: 300px;
  height: 40px;
}

#searchBtn {
  background-image: url('/public/images/search.png');
  background-size: cover;
  background-repeat: no-repeat;
  /* padding-top: 40px; */
  /* 콘텐츠의 높이를 말한다.*/
  height: 40px;
  width: 40px;
  /* overflow: hidden; */
}


.headerBottom {
  width: 1000px;
  margin: 0 auto;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}

.headerBottom a {
  color: black;
  font-size: 30px;
  font-weight: 500;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.headerBottom a:hover {
  transform: scale(1.1);
}
